.morning{
	background: url('backgrounds/morning.png');
	background-size: 90%;
}

.afternoon{
	background: url('backgrounds/afternoon.png');
	background-size: 90%;
}

.evening{
	background: url('backgrounds/evening.png');
	background-size: 90%;
}

.night{
	background: url('backgrounds/night.png');
	background-size: 90%;
}

h1{
	font-family: Comic, cursive;
	font-size: 70px;
	color: white;
	text-align: center;
	padding-top: 260px;
	margin: auto;
}

h2{
	font-family: Comic, cursive;
	font-size: 50px;
	color: white;
	text-align: center;
}