.morning{
	background: url('backgrounds/morning.png');
	background-repeat: no-repeat;
	background-size: fill;
}

.afternoon{
	background: url('backgrounds/afternoon.png');
	background-repeat: no-repeat;
	background-size: fill;
}

.evening{
	background: url('backgrounds/evening.png');
	background-repeat: no-repeat;
	background-size: fill;
}

.night{
	background: url('backgrounds/night.png');
	background-repeat: no-repeat;
	background-size: fill;
}

h1{
	font-family: Comic, cursive;
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 270px;
	margin: auto;
}

p{
	font-family: Comic, cursive;
	font-size: 50px;
	color: white;
	text-align: center;
}
